<?xml version="1.0"?>
<config>
    <modules>
        <LCB_Appointments>
            <version>1.0.0</version>
        </LCB_Appointments>
    </modules>
    <frontend>
        <routers>
            <appointments>
                <use>standard</use>
                <args>
                    <module>LCB_Appointments</module>
                    <frontName>appointments</frontName>
                </args>
            </appointments>
        </routers>
        <layout>
            <updates>
                <appointments>
                    <file>appointments.xml</file>
                </appointments>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Lcb_Appointments.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <appointments>
                <class>LCB_Appointments_Helper</class>
            </appointments>
        </helpers>
        <blocks>
            <appointments>
                <class>LCB_Appointments_Block</class>
            </appointments>
        </blocks>
        <models>
            <appointments>
                <class>LCB_Appointments_Model</class>
                <resourceModel>appointments_mysql4</resourceModel>
            </appointments>
            <appointments_mysql4>
                <class>LCB_Appointments_Model_Mysql4</class>
                <entities>		  
                    <appointments>
                        <table>lcb_appointments</table>
                    </appointments>
                </entities>
            </appointments_mysql4>
        </models>
        <resources>
            <appointments_setup>
                <setup>
                    <module>LCB_Appointments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </appointments_setup>
            <appointments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </appointments_write>
            <appointments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </appointments_read>
        </resources>
        <template>
            <email>
                <lcb_appointments_template module="appointments">
                    <label>Zaplanuj spotkanie</label>
                    <file>lcb_appointments.html</file>
                    <type>html</type>
                </lcb_appointments_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <appointments>
                <use>admin</use>
                <args>
                    <module>LCB_Appointments</module>
                    <frontName>admin_appointments</frontName>
                </args>
            </appointments>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>LCB_Appointments.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <menu>
            <appointments module="appointments">
                <title>Appointments</title>
                <sort_order>100</sort_order>
                <children>
                    <appointments module="appointments">
                        <title>Check Appointments</title>
                        <sort_order>10</sort_order>
                        <action>admin_appointments/adminhtml_appointments</action>
                    </appointments>
                </children>
            </appointments>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <appointments translate="title" module="appointments">
                            <title>Appointments</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <appointments translate="title">
                                    <title>Check Appointments</title>
                                    <sort_order>10</sort_order>
                                </appointments>
                            </children>
                        </appointments>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <appointments>
                    <file>appointments.xml</file>
                </appointments>
            </updates>
        </layout>
    </adminhtml>
</config>